{% extends 'base.html' %}

{% block body %}
    <div class="container">
        <h1 class="mb-4">Contato</h1>

        <h4>Informações de Contato:</h4>
       <p> <div style="font-weight: bold;">Nome:</div> Thiarly Cavalcante </p>
       <p> <div style="font-weight: bold;">Email:</div> thiarly.cavalcante@live.com</p>

        <h4 class="mt-5">Redes Sociais:</h4>
        <a href="https://www.linkedin.com/in/thiarly-cavalcante-b0aa6056/" target="_blank"><i class="fab fa-linkedin"> LinkedIn</i></a><br>
        <a href="https://github.com/thiarly" target="_blank"><i class="fab fa-github"> GitHub</i></a><br>
        <a href="https://www.instagram.com/thiarly_tri/" target="_blank"><i class="fab fa-instagram"> Instagram</i></a><br>
        <a href="https://www.facebook.com/thiarly.cavalcante/" target="_blank"><i class="fab fa-facebook"> Facebook</i></a>

        <h4 class="mt-5">Alguma dúvida?</h4>
        <p>Se tiver alguma dúvida, sinta-se à vontade para me mandar um email.</p>
    </div>
{% endblock %}